.col-sm-4 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
   
.col-sm-4:hover
{
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
}

.button {
    background-color: #007bff; 
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 6px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #007bff;
}
    
.button1:hover {
    background-color: #007bff;
    color: white;

}

img {
    width: 100%;
    height: auto;
}

#photo-file{

    display: none;
}

#selection-tool{

    position: fixed;
    display: none;
    border: 2px dashed var(--green);
    
    /*top: 0;
    left: 0;
    width: 200px;
    height: 200px;*/
}

#crop-image{

    display: none;
}

.Infs{

    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.Inf{

    color: black;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #007bff;
    margin-top: 25px;
}

.p, .row{

    margin-top: 20px;
}

.card-text{

    text-align: center;
}